@import "commen";
*{margin: 0px; padding: 0px; border: 0px; box-sizing:border-box;}
.main{
	width: 45%;
	margin: 0 auto;
	height : 250px;
	float: left;
	margin-left: 5%; 
	margin-top: 10px;
	ul{
		margin: 0px;
		background: #eee;
		li{
			background: #ccc;
			div{
				p{
					height : 95%;
					background: #39f;
				}
			}
		}
	}
}

body{
	background: #aaa;
	padding-top: 15%;
}
.verticle{
	width: 100%;
	height: 175px;
	background: #fff;
	float: none;
	margin: 0 auto;
	.list{
		width : 10000%;
		height: 100%;
	}
}